<mat-nav-list>
  <a mat-list-item routerLink='/signin' (click)="onToggleClose()">
    <mat-icon>face</mat-icon>
    <span>Signin</span>
  </a>


  <a mat-list-item routerLink='/login' (click)="onToggleClose()">
    <mat-icon>input</mat-icon>
    <span>Login</span>
  </a>


  <a mat-list-item routerLink='/movies' (click)="onToggleClose()">
    <mat-icon>favorite</mat-icon>
    <span>Movies</span>
  </a>


  <a mat-list-item routerLink='/findus' (click)="onToggleClose()">
    <mat-icon>location_on</mat-icon>
    <span>Find us</span>
  </a>

  <mat-list-item>

    <button mat-icon-button (click)="onToggleClose()">
      <mat-icon>eject</mat-icon>
      <span>Logout</span>

    </button>

  </mat-list-item>



</mat-nav-list>
