<section class="welcome-page" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="400px" fxLayoutAlign="center">

    <mat-card-title>Time to watch the hottest movies</mat-card-title>
    <mat-card-content>


      <mat-form-field>
        <mat-select placeholder="Select ganra">
          <mat-option value="action">
            Action
          </mat-option>
          <mat-option value="comedy">
            Comedy
          </mat-option>
          <mat-option value="horror">
            Horror
          </mat-option>
        </mat-select>
      </mat-form-field>



      <mat-card-actions>
        <button mat-button type="submit">Start</button>

      </mat-card-actions>

    </mat-card-content>

  </mat-card>

</section>
